/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
* {
	outline: none;
}
.hidden {
	display: none !important;
}
#tableLoading p i {
    -webkit-animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    from {
		transform: rotate(0deg);
    }
    to {
		transform: rotate(360deg);
    }
}
.mai-top-header .navbar-nav>.nav-item.dropdown.open .dropdown-menu {
	display: block;
}
.mai-user-nav>.nav-item.dropdown .dropdown-menu .dropdown-item .icon {
    font-size: 1.538rem;
    vertical-align: middle;
    margin-right: 5px;
}
.user-stats {
	position: relative;
    margin-bottom: 0;
    min-height: 414px;
}
.user-stats-more-details {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.widget-indicators {
    min-height: 415px;
}
.responsive-edit-button {
	display: none;
}
.adminreturndiv {
	display: none;
}
.user-stats-id {
	padding-bottom: 35px;
}
.user-stats-indicator {
	padding: 0;
}
.user-stats-indicators {
	padding: 0 32px 40px;
}
.user-stats-balance {
	padding: 0px 32px 30px;
}
.user-stats-balance .price {
    text-align: center;
	font-size: 32px;
    color: #2cc185;
}
.earnings-value-big .earnings-counter {
    font-size: 1.433rem;
}
.client-home-panels .widget .widget-body,
.client-home-panels .widget .list-group {
	height: 274px;
	overflow-y: scroll;
}
.client-home-panels .widget .list-group .list-group-item {
    padding: 8px 0;
    display: block;
    color: #9a9aa5;
    min-height: 55px;
    margin-bottom: 0;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 1px solid #EEE;
}
.client-home-panels .widget .list-group .text-domain {
	color: #36cb8f;
}
.client-home-panels .widget .list-group .list-group-item .label {
	margin-bottom: 0;
	padding: 1px 4px;
	font-size: 11px;
	color: #FFF;
	border-radius: 2px;
}
.client-home-panels .usage-news {
	min-height: 219px;
}
.client-home-panels .usage {
	
}
.client-home-panels .usage-counter {
	font-size: 2.2223rem;
}
.client-home-panels .usage-counter2 {
	font-size: 1.9rem;
	font-weight: 400;
}
.mai-forgot-password .navbar-brand,
.mai-login .navbar-brand {
	color: #FFF;
	font-weight: 300;
	font-size: 2.8rem;
	text-align: center;
	font-family: Raleway;
}
/*  WIDGETS */
a.panel {
    display: block;
}
.panel-widget .panel-body,
.panel-widget .panel-cards {
    position: relative;
    height: 344px;
    overflow: auto;
}
.no-data-auto {
    height: auto!important;
}
.tab-pane .no-data {
    margin: 0;
}
@media (min-width: 768px) {
    .tab-pane .no-data {
        height: 436px;
    }
}
@media (min-width: 580px) {
    .panel-widget .panel-body .no-data,
    .panel-widget .panel-cards .no-data {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        min-height: auto;
    }
}
@media (max-width: 579px) {
    .panel-ticket {
        margin: 0 -20px -24px;
        box-shadow: none;
    }
    .panel-widget .panel-cards:not(.cards-carousel) {
        height: auto;
        padding-bottom: 0;
    }
    .panel-widget .panel-cards:not(.cards-carousel) .cards-nav {
        display: none;
    }
}
.lSSlideWrapper {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative
}
.lSSlideWrapper > .lightSlider:after {
    clear: both
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: inherit!important;
    transition-duration: inherit!important;
    -webkit-transition-timing-function: inherit!important;
    transition-timing-function: inherit!important
}
.lSSlideWrapper .lSFade {
    position: relative
}
.lSSlideWrapper .lSFade > * {
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit!important;
    transition-duration: inherit!important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit!important;
    transition-timing-function: inherit!important
}
.title-slider .first {
    position: relative;
    z-index: 10
}
.lSSlideWrapper .lSFade > .slide-active {
    z-index: 10
}
.lSSlideWrapper.usingCss .lSFade > .slide-active {
    opacity: 1
}
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    display: none;
    text-align: center
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}
.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: #428bca
}
.lSSlideOuter .media {
    opacity: .8
}
.lSSlideOuter .media.active {
    opacity: 1
}
.lSSlideOuter .lSPager.lSGallery {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 83px;
    padding: 8px 0 8px 8px;
    min-width: 100%;
    background: rgba(0, 0, 0, .1);
    list-style: none outside none;
    margin: 0!important;
    overflow: hidden;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}
.lSSlideOuter .lSPager.lSGallery li {
    max-height: 67px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    opacity: .5;
    height: 100%
}
.lSSlideOuter .lSPager.lSGallery li:last-of-type {
    margin-right: 0!important
}
.lSSlideOuter .lSPager.lSGallery li.active {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2)
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: 100%;
    width: 100%
}
.lSSlideOuter .lSPager.lSGallery li.slide-active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    opacity: 1
}
.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideOuter .lSPager.lSGallery:before {
    content: " ";
    display: table
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both
}
@media (min-width:992px) {
    .title-slider {
        max-height: 456px
    }
    .title-slider .lSSlideOuter {
        background: #e9edf2
    }
}
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    -webkit-transition: opacity .35s linear 0s;
    transition: opacity .35s linear 0s
}
.lSAction > a:hover {
    opacity: 1
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px
}
.lSAction > a.disabled {
    pointer-events: none
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden
}
.lSSlideOuter.vertical {
    position: relative
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0!important
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute!important;
    right: 0;
    top: 0
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100%!important;
    max-width: none!important
}
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px
}
.lSSlideOuter.lSrtl {
    direction: rtl
}
.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
    padding-left: 0;
    padding-bottom: 0!important;
    list-style: none outside none
}
.lSSlideOuter.lSrtl .lightSlider,
.lSSlideOuter.lSrtl .lSPager {
    padding-right: 0
}
.lSSlideOuter .lightSlider > *,
.lSSlideOuter .lSGallery li {
    float: left
}
.lSSlideOuter.lSrtl .lightSlider > *,
.lSSlideOuter.lSrtl .lSGallery li {
    float: right!important
}
@-webkit-keyframes rightEnd {
    0% {
        left: 0
    }
    50% {
        left: -15px
    }
    to {
        left: 0
    }
}
@keyframes rightEnd {
    0% {
        left: 0
    }
    50% {
        left: -15px
    }
    to {
        left: 0
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0
    }
    50% {
        top: -15px
    }
    to {
        top: 0
    }
}
@keyframes topEnd {
    0% {
        top: 0
    }
    50% {
        top: -15px
    }
    to {
        top: 0
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0
    }
    50% {
        left: 15px
    }
    to {
        left: 0
    }
}
@keyframes leftEnd {
    0% {
        left: 0
    }
    50% {
        left: 15px
    }
    to {
        left: 0
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0
    }
    50% {
        bottom: -15px
    }
    to {
        bottom: 0
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0
    }
    50% {
        bottom: -15px
    }
    to {
        bottom: 0
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd .3s;
    animation: rightEnd .3s;
    position: relative
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd .3s;
    animation: leftEnd .3s;
    position: relative
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd .3s;
    animation: topEnd .3s;
    position: relative
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd .3s;
    animation: bottomEnd .3s;
    position: relative
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd .3s;
    animation: leftEnd .3s;
    position: relative
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd .3s;
    animation: rightEnd .3s;
    position: relative
}
.lightSlider.lsGrabbing > * {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}
/* cards */
.panel-cards {
	padding-bottom: 56px;
    position: relative;
    height: 344px;
}
.panel-cards .lSSlideOuter {
    background: transparent;
    overflow: hidden;
}
.cards {
    margin: 0;
    padding: 0;
    list-style: none;
}
.card-row {
    position: relative;
    display: block;
    height: 72px;
    padding: 12px 20px;
    border-bottom: 1px solid #e9edf2;
    color: #737780;
    -webkit-transition: linear background-color .15s;
    transition: linear background-color .15s;
}
.card-row:hover,
.card-row:focus {
    color: #5c5f66;
    background-color: #f5f7fa;
	text-decoration: none;
}
.card-row:last-child {
    border: none;
}
.card-row > span {
    display: inline-block;
}
.card-row > .cell-title {
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-row > .cell-progress {
    position: absolute;
    top: 16px;
    right: 24px;
    font-weight: 700;
}
.card-row > .cell-date,
.card-row > .cell-cycle,
.card-row > .cell-status {
    float: left;
    color: #888;
    font-size: 12px;
}
.card-row > .cell-date,
.card-row > .cell-license {
    float: right;
    font-size: 12px;
}
.card-row > .cell-total {
    position: absolute;
    right: 24px;
    top: 25px;
    width: 50%;
    text-align: right;
}
.card-row > .cell-total .price {
    font-size: 18px;
}
@media (max-width: 1199px) {
    .card-row > .cell-license {
        display: none;
    }
}
@media (max-width: 767px) {
    .card-row {
        padding: 16px;
    }
    .card-row > .cell-total {
        top: 16px;
        right: 16px;
        margin-top: 0;
    }
    .card-row > .cell-progress {
        right: 16px;
    }
    .card-row > .cell-total .price {
        font-size: 14px;
    }
}
/* cards > Carousel */
.cards-carousel .cards:not(.lSSlide) > li {
    display: none;
}
.cards-carousel .cards:not(.lSSlide) > li:first-child {
    display: block;
}
.lScardr {
    display: none;
}
.panel-cards .lSSlideWrapper {
    height: 100%;
}
/* card > Navigation */
.cards-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 56px;
    width: 100%;
    padding: 5px;
    border-top: 1px solid #e9edf2;
    text-align: center;
}
.cards-nav .btn {
    margin-top: -2px;
    cursor: pointer;
}
.cards-nav .btn:hover {
	color: #34C188;
    background-color: #F4F4F4;
}
.cards-nav .btn > i {
    font-size: 26px;
    font-weight: 600;
}
.cards-nav .card-prev {
	float: left;
}
.cards-nav .card-next {
	float: right;
}
.card-number {
    display: inline-block;
    margin: 12px auto;
    font-size: 13px;
    vertical-align: middle;
}
.panel-products .card-row > .cell-title {
    font-weight: 700;
}
/* Label > Simple */
.label {
    padding: 5px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.label-simple {
    padding: 0;
    box-shadow: none;
    background: transparent!important;
    font-size: 12px;
    text-transform: none;
}
.label-simple:before {
    display: inline-block;
    content: "";
    height: 6px;
    width: 6px;
    margin: -3px 8px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.label-simple.label-finished,
.label-simple.label-success,
.label-simple.label-active,
.label-simple.label-paid,
.label-simple.label-accepted,
.label-simple.label-in-progress,
.label-simple.label-answered {
    color: #5bc758;
}
.label-success,
.label-active,
.label-paid,
.label-accepted,
.label-in-progress,
.label-answered,
.label-simple.label-finished:before,
.label-simple.label-success:before,
.label-simple.label-active:before,
.label-simple.label-paid:before,
.label-simple.label-accepted:before,
.label-simple.label-in-progress:before,
.label-simple.label-answered:before {
    background-color: #5bc758;
}
.label-active,
.label-success {
    background-color: #5bc758;
}
.label-simple.label-awaiting-reply {
    color: #26caaa;
}
.label-awaiting-reply,
.label-simple.label-awaiting-reply:before {
    background-color: #26caaa;
}
.label-simple.label-pending-release,
.label-simple.label-in.progress,
.label-simple.label-warning,
.label-simple.label-in-progress,
.label-simple.label-awaiting-client,
.label-simple.label-pending,
.label-simple.label-collections {
    color: #fc8b35;
}
.label-simple.label-pending-release:before,
.label-warning,
.label-in-progress,
.label-awaiting-client,
.label-pending,
.label-simple.label-in.progress:before,
.label-collections .label-simple.label-warning:before,
.label-simple.label-in-progress:before,
.label-simple.label-awaiting-client:before,
.label-simple.label-pending:before,
.label-simple.label-collections:before {
    background-color: #fc8b35;
}
.label-simple.label-stopped,
.label-simple.label-danger,
.label-simple.label-terminated,
.label-simple.label-awaiting-payment,
.label-simple.label-unpaid {
    color: #ed4040;
}
.label-danger,
.label-terminated,
.label-awaiting-payment,
.label-unpaid,
.label-simple.label-stopped:before,
.label-simple.label-danger:before,
.label-simple.label-terminated:before,
.label-simple.label-awaiting-payment:before,
.label-simple.label-unpaid:before {
    background-color: #ed4040;
}
.btn-hover-danger.btn-icon.btn-link:hover {
    color: #ed4040;
}
.label-simple.label-on.hold,
.label-simple.label-info,
.label-simple.label-released,
.label-simple.label-on-hold {
    color: #1f75cc;
}
.label-simple.label-on.hold:before,
.label-info,
.label-released,
.label-on-hold,
.label-simple.label-info:before,
.label-simple.label-released:before,
.label-simple.label-on-hold:before {
    background-color: #1f75cc;
}
.label-simple.label-info-light,
.label-simple.label-awaiting-release,
.label-simple.label-open,
.label-simple.label-refunded,
.label-simple.label-in-verification {
    color: #2caed4;
}
.label-info-light,
.label-awaiting-release,
.label-open,
.label-refunded,
.label-simple.label-info-light:before,
.label-simple.label-awaiting-release:before,
.label-simple.label-open:before,
.label-simple.label-refunded:before,
.label-simple.label-in-verification:before {
    background-color: #2caed4;
}
.label-refunded {
    background-color: #2caed4;
}
.label-simple.label-default,
.label-simple.label-suspended,
.label-simple.label-draft {
    color: #737980;
}
.label-default,
.label-suspended,
.label-draft,
.label-simple.label-default:before,
.label-simple.label-suspended:before,
.label-simple.label-draft:before {
    background-color: #737980;
}
.label-simple.label-rejected,
.label-simple.label-muted,
.label-simple.label-closed,
.label-simple.label-declined,
.label-simple.label-cancelled,
.label-simple.label-fixes-in-progress,
.label-simple.label-customer-reply {
    color: #a1a6b2;
}
.label-simple.label-rejected:before,
.label-muted,
.label-closed,
.label-declined,
.label-cancelled,
.label-fixes-in-progress,
.label-customer-reply,
.label-simple.label-muted:before,
.label-simple.label-closed:before,
.label-simple.label-declined:before,
.label-simple.label-cancelled:before,
.label-simple.label-fixes-in-progress:before,
.label-simple.label-customer-reply:before {
    background-color: #a1a6b2;
}
.label-simple.label-fraud {
    color: #2e3442;
}
.label-simple.label-fraud:before {
    background-color: #2e3442;
}
.label-fraud {
    background-color: #2e3442;
}
.label-default {
    color: #fff;
}
.label-danger {
    background-color: #ed4040
}

.pay_method a {
	padding: 10px 15px;
	display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px 0 0;
    cursor: pointer;
    border-radius: 4px;
    color: #555;
    border: 1px #f2f2f2 solid;
    background-color: #fff;
    width: 100%;
    text-indent: -999em;
}
.pay_method a .icon {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.pay_method a.alipay .icon,
.pay_method a.f2falipay .icon {
	background-image: url(../img/f2falipay.svg);
}
.pay_method a.WePay .icon {
	background-image: url(../img/WePay.svg);
}
.pay_method a.paypal .icon {
	background-image: url(../img/paypal.svg);
}
.pay_method a.QPay .icon {
	background-image: url(../img/QPay.svg);
}
.pay_method a.stripe .icon {
	background-image: url(../img/stripe.svg);
}

.pay_method a .name {
	font-size: 14px;
}
#passwordStrengthBar {
	margin: 20px 0;
}
#passwordStrengthBar .progress-bar {
	height: .856rem;
}
/* 3.3.1 Stats: Header */
.stats-header {
    padding: 20px;
    border-bottom: 1px solid #ebedf2;
    text-align: center;
}
.stats-header > .value {
    margin: 8px 0;
}
.stats-header > .value + .btn {
    margin: 8px 0 8px 0;
}
@media (max-width: 991px) {
    .stats-header > h6 {
        margin-top: 0;
    }
    .stats-header > .value.value-xlg {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 32px;
    }
}
/* 3.3.1 Stats: Values */
.stats-values:after {
    display: block;
    content: "";
    clear: both;
}
.stats-values.row {
    display: table;
    margin: 0;
}
.stats-values .value {
    padding: 15px 20px;
    border-bottom: 1px solid #ebedf2;
}
.stats-values .value[class*="col-"] {
    display: table-cell;
    float: none;
    padding: 15px 20px;
    border-right: 1px solid #ebedf2;
    border-bottom: none;
}
.stats-values .value:last-child {
    border: none;
}
@media (max-width: 991px) {
    .stats-values .value[class*="col-"] {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.value-sm {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
.value-lg {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}
.value-xlg {
    font-size: 45px;
    line-height: 50px;
    font-weight: 400;
}
.value-title {
    display: block;
    color: #a1a6b2;
    font-size: 12px;
}
.tab-content>.tab-pane.fade.in {
	opacity: 1;
}
@media (min-width: 580px) {
    .panel-body .no-data,
    .panel-cards .no-data {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        min-height: auto;
    }
}
.no-data {
    position: relative;
    height: 436px;
    text-align: center
}
.panel-summary .no-data {
    border-bottom: 1px solid #EBEFF2;
}
.no-data-sm {
    height: 290px
}
.no-data-slogan {
    display: inline-block;
    vertical-align: middle;
    max-width: 99%
}
.no-data .icon-holder {
    color: #D7DADB;
    position: relative;
    display: inline-block;
    height: 96px;
    width: 96px;
    line-height: 94px;
    margin-bottom: 24px;
    border: 1px solid #e9edf2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%
}
.no-data .icon-holder > i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    height: 56px;
    width: 56px;
    line-height: 56px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle
}
.no-data .icon-holder .circle {
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #004a95;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    display: none
}
.no-data .icon-holder .circle > i {
    font-size: 16px;
    color: #fff
}
.no-data-slogan > p,
.tab-content .tab-pane .no-data-slogan > p {
    margin-bottom: 0;
    color: #2e3442;
    font-size: 20px;
    font-weight: 500;
    text-align: center!important
}
.no-data-slogan > p + span {
    margin-top: 14px
}
.no-data-slogan > span {
    font-size: 15px;
    display: block
}
.no-data .no-data-slogan > span {
    font-size: 14px;
    line-height: 22px
}
.no-data .no-data-slogan > span + span {
    margin-top: 12px
}
.no-data .no-data-slogan > p + .btn,
.no-data .no-data-slogan > span + .btn {
    margin-top: 30px
}
.no-data-sm .icon-holder {
    height: 80px;
    width: 80px;
    line-height: 74px
}
.no-data-sm .icon-holder > i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 32px
}
.no-data-sm .icon-holder .circle {
    height: 24px;
    width: 24px;
    line-height: 24px
}
.no-data-sm .icon-holder .circle > i {
    font-size: 16px
}
.no-data-sm .no-data-slogan > span {
    font-size: 14px
}
.no-data-sm .no-data-slogan > span + .btn {
    margin-top: 30px
}
.no-data-sm .no-data-slogan p {
    font-size: 16px
}
.documentation-list .no-data-slogan {
    max-width: 430px;
    margin: 0 auto
}
@media (max-width:991px) {
    .panel-support .no-data {
        height: 236px;
        margin-bottom: -52px
    }
}
@media (min-width:768px) {
    .no-data:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center
    }
    .tab-pane .no-data {
        height: 170px;
        margin-bottom: 50px
    }
    .no-data-lg .icon-holder {
        width: 140px;
        height: 140px;
        line-height: 138px
    }
    .no-data-lg .icon-holder > i {
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 72px
    }
    .no-data-lg .icon-holder .circle {
        width: 48px;
        height: 48px;
        line-height: 54px
    }
    .no-data-lg .icon-holder .circle > i {
        font-size: 24px;
        color: #fff
    }
    .content-sidebar .no-data-slogan {
        max-width: 280px
    }
}
.modal .no-data {
    height: auto
}
.modal .no-data:before {
    display: none
}
.modal .no-data-slogan p {
    font-size: 18px;
    font-weight: 700
}
.modal .no-data-slogan > span {
    line-height: 25px
}
.modal .no-data-slogan .btn {
    min-width: 190px
}
@media (max-width:767px) {
    .no-data {
        height: auto;
        padding: 30px 0
    }
}
.email-verification .btn-resend-verify-email {
	float: right;
	margin-right: 30px;
}
.alert .email-verification  .close {
	padding: 0;
}
.earnings-resume {
	margin-bottom: 0;
}
/* Ticket > Reply */
.ticket-reply {
    position: relative;
    padding-left: 62px;
    margin-bottom: 16px;
}
.reply-avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.avatar-issue {
    background-color: #ed4040;
    text-align: center;
    color: #fff;
}
.reply-avatar > i {
    line-height: 40px;
    font-size: 24px;
}
.reply-content,
.timeline-panel {
    position: relative;
    background: #f5f8fa;
}

.reply-staff .reply-content {
    background: #e9f7e9;
}
.reply-staff .reply-content:before {
    color: #e9f7e9;
}
@media (max-width: 767px) {
    .ticket-reply {
        padding-left: 48px;
    }
    .reply-avatar {
        height: 32px;
        width: 32px;
    }
    .reply-content:before,
    .timeline-panel:before {
        top: 8px;
        left: -6px;
    }
}
/* Ticket > Reply > Top */
.reply-content .content-top {
    padding: 16px;
    font-size: 12px;
}
.reply-content .content-top span > i {
    margin: -1px 8px 0;
    color: rgba(46, 52, 66, 0.2);
    font-size: 6px;
    vertical-align: middle;
    transform: scale(.5);
}
.reply-content .content-top .name {
    font-size: 14px;
    font-weight: 700;
}
.reply-content .content-top .date {
    color: rgba(46, 52, 66, 0.5);
}
.reply-content .content-top .rating,
.reply-content .content-top .rating-done {
    float: right;
}
.reply-content .content-top .rating-done .rated {
    float: left;
    margin-right: 8px;
    color: rgba(46, 52, 66, 0.5);
}
.reply-content .content-top .rating-done > .star,
.reply-content .content-top .rating > .star {
    float: right;
    display: inline-block;
    height: 24px;
    width: 12px;
    cursor: pointer;
}
.reply-content .content-top .rating-done > .star:before {
    cursor: not-allowed;
}
.reply-content .content-top .rating-done > .star:before,
.reply-content .content-top .rating > .star:before {
    content: '\e611';
    color: rgba(46, 52, 66, 0.5);
    font-family: 'Stroke 7';
    -webkit-transition: linear all .15s;
    transition: linear all .15s;
}
.ticket-reply .rating span.star:hover:before,
.ticket-reply .rating span.star:hover ~ span.star:before,
.ticket-reply .rating-done span.star.active:before {
    color: #ffc300;
}
@media (max-width: 579px) {
    .reply-content .content-top {
        font-size: 12px;
    }
    .reply-content .content-top .name {
        font-size: 13px;
    }
}
/* Ticket > Reply > Body */
.reply-content .content-body {
    padding: 16px;
}
.reply-content .content-body,
.reply-content .content-body > * {
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
}
/* Ticket > Reply > Attachements */
.reply-content .content-attachments {
    padding: 16px;
    border-top: 1px solid rgba(46, 52, 66, 0.1);
}
.reply-content .content-attachments h6 {
    margin: 0 0 4px 0;
    color: rgba(46, 52, 66, 0.5);
    font-size: 11px;
    line-height: 16px;
}
.reply-content .content-attachments .attachments {
    margin: 0;
    padding: 0;
    list-style: none;
}
.reply-content .content-attachments .attachments:after {
    display: block;
    content: "";
    clear: both;
}
.reply-content .content-attachments .attachments > li {
    float: left;
    margin-right: 16px;
}
.reply-content .content-attachments .attachments > li > a {
    display: block;
    color: #737980;
    font-size: 12px;
    line-height: 24px;
}
.reply-content .content-attachments .attachments > li > a > i {
    float: left;
    margin-right: 8px;
    font-size: 19px;
    line-height: 24px;
}
/* Ticket > Reply > Message */
.ticket-message {
    margin: 24px -24px -24px;
    padding: 24px;
    border-top: 1px solid #e5e9ee;
}
@media (max-width: 767px) {
    .ticket-message {
        margin: 12px -16px -16px;
        padding: 16px;
    }
}
/* Ticket > Reply > Message > Attachments*/
.message-attachments h6 {
    margin: 0 0 8px;
    font-size: 11px;
    line-height: 11px;
}
.message-attachments .help-block {
    margin-bottom: 0;
}
.file-btn,
.file-uploads {
    display: inline-block;
}
.file-uploads .file-btn {
    margin: 0 10px 10px 0;
}
.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.file-input + label {}
.file-input:focus + label,
.file-input + label:hover {}
.file-input + label {
    cursor: pointer;
    /* "hand" cursor */
}
.file-input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
/* Ticket >  Message > Actions */
.message-actions {
    position: relative;
    margin: 24px 0 0 0;
}
@media (min-width: 768px) {
    .message-actions {
        padding-right: 180px;
    }
    .message-actions > .btn {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 160px;
    }
}
@media (max-width: 767px) {
    .message-actions > .btn {
        display: block;
        width: 100%;
    }
    .message-attachments {
        margin-bottom: 16px;
    }
}
/* Ticket > Message > Secure */
.message-secure {
    margin-top: 16px;
    background-color: #e9f7e9;
}
.message-secure > h5 {
    margin: 0;
    padding: 10px 16px;
    color: #5c5f66;
    cursor: pointer;
    -webkit-transition: linear color .15s;
    transition: linear color .15s;
}
.message-secure > h5:hover {
    color: #5bc758;
}
.message-secure > h5 > i {
    margin: -6px 8px 0 0px;
    font-size: 24px;
    vertical-align: middle;
}
.message-secure > p {
    padding: 0 16px 10px 16px;
}
.message-secure > .panel-collapse > .collapse-body {
    padding: 0 16px 16px;
}
.message-secure p {
    margin: 0 0 8px 0!important;
    font-size: 13px;
    line-height: 20px;
}
.message-secure textarea {
    min-height: 48px;
}
.avatar img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50px;
    vertical-align: top;
}
.avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
.avatar-lg {
    height: 88px;
    width: 88px;
}
.avatar-md {
    height: 48px;
    width: 48px;
}
.avatar-sm {
    height: 32px;
    width: 32px;
}
/* Ticket >  Message  > Editor  */
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
    margin: 0 24px 0 0;
}
.md-editor {
    display: block;
    border: 1px solid #d7dbe0;
}
.md-editor .md-footer,
.md-editor > .md-header {
    display: block;
    padding: 6px 8px;
    background: #fff;
}
.md-editor .md-footer {
    font-size: 11px;
}
.md-editor > .md-header {
    margin: 0
}
.md-editor > .md-preview {
    background: #fff;
    border-top: 1px dashed #e9edf2;
    border-bottom: 1px dashed #e9edf2;
    min-height: 10px;
    overflow: auto
}
.md-editor > textarea {
    font-size: 13px;
    outline: 0;
    margin: 0;
    display: block;
    padding: 16px;
    ;
    width: 100%;
    border: 0;
    border-top: 1px solid #e9edf2;
    border-bottom: 1px solid #e9edf2;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
}
.md-editor > textarea:focus,
.md-editor > textarea:hover {
    box-shadow: none;
    background: #fff;
    border: 0;
    border-top: 1px solid #e9edf2;
    border-bottom: 1px solid #e9edf2;
}
.md-editor.active {
    outline: 0;
}
.md-editor .md-controls {
    float: right;
    padding: 3px
}
.md-editor .md-controls .md-control {
    right: 5px;
    color: #bebebe;
    padding: 3px 3px 3px 10px
}
.md-editor .md-controls .md-control:hover {
    color: #333
}
.md-editor.md-fullscreen-mode {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    padding: 60px 30px 15px;
    background: #fff!important;
    border: 0!important
}
.md-editor.md-fullscreen-mode .md-footer {
    display: none
}
.md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .md-preview {
    margin: 0 auto!important;
    height: 100%!important;
    font-size: 20px!important;
    padding: 20px!important;
    color: #999;
    line-height: 1.6em!important;
    resize: none!important;
    box-shadow: none!important;
    background: #fff!important;
    border: 0!important
}
.md-editor.md-fullscreen-mode .md-preview {
    color: #333;
    overflow: auto
}
.md-editor.md-fullscreen-mode .md-input:focus,
.md-editor.md-fullscreen-mode .md-input:hover {
    color: #333;
    background: #fff!important
}
.md-editor.md-fullscreen-mode .md-header {
    background: 0 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 20px
}
.md-editor.md-fullscreen-mode .btn-group {
    float: none
}
.md-editor.md-fullscreen-mode .btn {
    border: 0;
    background: 0 0;
    color: #b3b3b3
}
.md-editor.md-fullscreen-mode .btn.active,
.md-editor.md-fullscreen-mode .btn:active,
.md-editor.md-fullscreen-mode .btn:focus,
.md-editor.md-fullscreen-mode .btn:hover {
    box-shadow: none;
    color: #333
}
.md-editor.md-fullscreen-mode .md-fullscreen-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 1002;
    display: block
}
.md-editor.md-fullscreen-mode .md-fullscreen-controls a {
    color: #b3b3b3;
    clear: right;
    margin: 10px;
    width: 30px;
    height: 30px;
    text-align: center
}
.md-editor.md-fullscreen-mode .md-fullscreen-controls a:hover {
    color: #333;
    text-decoration: none
}
.md-editor.md-fullscreen-mode .md-editor {
    height: 100%!important;
    position: relative
}
.md-editor .md-fullscreen-controls {
    display: none
}
.md-nooverflow {
    overflow: hidden;
    position: fixed;
    width: 100%
}
@media (max-width: 579px) {
    .md-editor > .md-header {
        display: none;
    }
}
.email-detail-head {
	position: relative;
}
.email-detail-head .btn-print {
	position: absolute;
	top: 40px;
    right: 20px;
}
.email-detail-head .btn-print .fa {
	font-size: 23px;
}
.email-head-subject {
    margin-top: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 65%;
}
.email-body img {
	max-width: 100%;
}
.imagebg {
    position: relative;
}
.height-100, .height-90, .height-80, .height-70, .height-60, .height-50, .height-40, .height-30, .height-20, .height-10 {
    height: auto;
    padding: 5em 0;
}
/*p+img, img:last-child{
    margin-bottom: 0;
}*/
.img--fullwidth {
    width: 100%;
}
[data-grid="2"].masonry {
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-count: 2;
    -moz-column-gap: 0;
    column-count: 2;
    column-gap: 0;
}
[data-grid="2"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="2"] li {
    width: 50%;
    display: inline-block;
}
[data-grid="3"].masonry {
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    column-count: 3;
    column-gap: 0;
}
[data-grid="3"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="3"] li {
    width: 33.33333333%;
    display: inline-block;
}
[data-grid="4"].masonry {
    -webkit-column-count: 4;
    -webkit-column-gap: 0;
    -moz-column-count: 4;
    -moz-column-gap: 0;
    column-count: 4;
    column-gap: 0;
}
[data-grid="4"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="4"] li {
    width: 25%;
    display: inline-block;
}
[data-grid="5"].masonry {
    -webkit-column-count: 5;
    -webkit-column-gap: 0;
    -moz-column-count: 5;
    -moz-column-gap: 0;
    column-count: 5;
    column-gap: 0;
}
[data-grid="5"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="5"] li {
    width: 20%;
    display: inline-block;
}
[data-grid="6"].masonry {
    -webkit-column-count: 6;
    -webkit-column-gap: 0;
    -moz-column-count: 6;
    -moz-column-gap: 0;
    column-count: 6;
    column-gap: 0;
}
[data-grid="6"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="6"] li {
    width: 16.66666667%;
    display: inline-block;
}
[data-grid="7"].masonry {
    -webkit-column-count: 7;
    -webkit-column-gap: 0;
    -moz-column-count: 7;
    -moz-column-gap: 0;
    column-count: 7;
    column-gap: 0;
}
[data-grid="7"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="7"] li {
    width: 14.28571429%;
    display: inline-block;
}
[data-grid="8"].masonry {
    -webkit-column-count: 8;
    -webkit-column-gap: 0;
    -moz-column-count: 8;
    -moz-column-gap: 0;
    column-count: 8;
    column-gap: 0;
}
[data-grid="8"].masonry li {
    width: 100%;
    float: none;
}
[data-grid="8"] li {
    width: 12.5%;
    display: inline-block;
}
@media all and (max-width: 767px) {
    [data-grid]:not(.masonry) li {
        width: 33.333333%;
    }
    [data-grid="2"]:not(.masonry) li {
        width: 50%;
    }
    [data-grid].masonry {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
.background-image-holder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: 0;
    background: #252525;
}
.background-image-holder:not([class*='col-']) {
    width: 100%;
}
.background-image-holder.background--bottom {
    background-position: 50% 100% !important;
}
.background-image-holder.background--top {
    background-position: 50% 0% !important;
}
.image--light .background-image-holder {
    background: none;
}
.background-image-holder img {
    display: none;
}
[data-overlay] {
    position: relative;
}
[data-overlay]:before {
    position: absolute;
    content: '';
    background: #252525;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
[data-overlay] *:not(.container):not(.background-image-holder) {
    z-index: 2;
}
[data-overlay].image--light:before {
    background: #fff;
}
[data-overlay].bg--primary:before {
    background: #4a90e2;
}
[data-overlay="1"]:before {
    opacity: 0.1;
}
[data-overlay="2"]:before {
    opacity: 0.2;
}
[data-overlay="3"]:before {
    opacity: 0.3;
}
[data-overlay="4"]:before {
    opacity: 0.4;
}
[data-overlay="5"]:before {
    opacity: 0.5;
}
[data-overlay="6"]:before {
    opacity: 0.6;
}
[data-overlay="7"]:before {
    opacity: 0.7;
}
[data-overlay="8"]:before {
    opacity: 0.8;
}
[data-overlay="9"]:before {
    opacity: 0.9;
}
[data-overlay="10"]:before {
    opacity: 1;
}
[data-overlay="0"]:before {
    opacity: 0;
}
[data-scrim-bottom] {
    position: relative;
}
[data-scrim-bottom]:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 80%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #252525));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #252525 100%);
    bottom: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
}
[data-scrim-bottom]:not(.image--light) h1,
[data-scrim-bottom]:not(.image--light) h2,
[data-scrim-bottom]:not(.image--light) h3,
[data-scrim-bottom]:not(.image--light) h4,
[data-scrim-bottom]:not(.image--light) h5,
[data-scrim-bottom]:not(.image--light) h6 {
    color: #a5a5a5;
    color: #f1f1f1;
}
[data-scrim-bottom]:not(.image--light) p,
[data-scrim-bottom]:not(.image--light) span,
[data-scrim-bottom]:not(.image--light) ul {
    color: #e6e6e6;
}
[data-scrim-bottom].image--light:before {
    background: #fff;
}
[data-scrim-bottom="1"]:before {
    opacity: 0.1;
}
[data-scrim-bottom="2"]:before {
    opacity: 0.2;
}
[data-scrim-bottom="3"]:before {
    opacity: 0.3;
}
[data-scrim-bottom="4"]:before {
    opacity: 0.4;
}
[data-scrim-bottom="5"]:before {
    opacity: 0.5;
}
[data-scrim-bottom="6"]:before {
    opacity: 0.6;
}
[data-scrim-bottom="7"]:before {
    opacity: 0.7;
}
[data-scrim-bottom="8"]:before {
    opacity: 0.8;
}
[data-scrim-bottom="9"]:before {
    opacity: 0.9;
}
[data-scrim-bottom="10"]:before {
    opacity: 1;
}
[data-scrim-top] {
    position: relative;
}
[data-scrim-top]:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 80%;
    background: -moz-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, #252525), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    z-index: 1;
}
[data-scrim-top]:not(.image--light) h1,
[data-scrim-top]:not(.image--light) h2,
[data-scrim-top]:not(.image--light) h3,
[data-scrim-top]:not(.image--light) h4,
[data-scrim-top]:not(.image--light) h5,
[data-scrim-top]:not(.image--light) h6 {
    color: #fff;
}
[data-scrim-top]:not(.image--light) p,
[data-scrim-top]:not(.image--light) span,
[data-scrim-top]:not(.image--light) ul {
    color: #e6e6e6;
}
[data-scrim-top].image--light:before {
    background: #fff;
}
[data-scrim-top="1"]:before {
    opacity: 0.1;
}
[data-scrim-top="2"]:before {
    opacity: 0.2;
}
[data-scrim-top="3"]:before {
    opacity: 0.3;
}
[data-scrim-top="4"]:before {
    opacity: 0.4;
}
[data-scrim-top="5"]:before {
    opacity: 0.5;
}
[data-scrim-top="6"]:before {
    opacity: 0.6;
}
[data-scrim-top="7"]:before {
    opacity: 0.7;
}
[data-scrim-top="8"]:before {
    opacity: 0.8;
}
[data-scrim-top="9"]:before {
    opacity: 0.9;
}
[data-scrim-top="10"]:before {
    opacity: 1;
}
.imagebg {
    position: relative;
}
.imagebg .container {
    z-index: 2;
}
.imagebg .container:not(.pos-absolute) {
    position: relative;
}
.imagebg:not(.image--light) h1,
.imagebg:not(.image--light) h2,
.imagebg:not(.image--light) h3,
.imagebg:not(.image--light) h4,
.imagebg:not(.image--light) h5,
.imagebg:not(.image--light) h6,
.imagebg:not(.image--light) p,
.imagebg:not(.image--light) ul,
.imagebg:not(.image--light) blockquote {
    color: #fff;
}
.imagebg:not(.image--light) .bg--white h1,
.imagebg:not(.image--light) .bg--white h2,
.imagebg:not(.image--light) .bg--white h3,
.imagebg:not(.image--light) .bg--white h4,
.imagebg:not(.image--light) .bg--white h5,
.imagebg:not(.image--light) .bg--white h6 {
    color: #252525;
}
.imagebg:not(.image--light) .bg--white p,
.imagebg:not(.image--light) .bg--white ul {
    color: #666666;
}
div[data-overlay] h1,
div[data-overlay] h2,
div[data-overlay] h3,
div[data-overlay] h4,
div[data-overlay] h5,
div[data-overlay] h6 {
    color: #fff;
}
div[data-overlay] p,
div[data-overlay] ul {
    color: #fff;
}
.parallax {
    overflow: hidden;
}
.parallax .background-image-holder {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
}
.image--xxs {
    max-height: 1.85714286em;
}
.image--xs {
    max-height: 3.71428571em;
}
.image--sm {
    max-height: 5.57142857em;
}
.image--md {
    max-height: 7.42857143em;
}
.cover .lead + .boxed {
    margin-top: 3.71428571em;
}
.boxed.boxed--lg {
    padding: 2.78571429em;
}
.boxed {
    position: relative;
    overflow: hidden;
    padding: 1.85714286em;
    margin-bottom: 30px;
}
.boxed {
    border-radius: 6px;
}
.boxed:not([class*='bg-']) {
    background: #ffffff;
}
.boxed.boxed--border {
    border: 1px solid #ececec;
}
.border--round {
    border-radius: 6px;
}
.color--primary {
    color: #34C188 !important;
}
.bg--white {
    background: #fff;
}
.bg--secondary {
    background: #fafafa;
}
.bg--dark {
    background: #252525;
}
.bg--dark h2 {
	color: #FFF;
}
.bg--dark .boxed:not([class*='bg-']),
.imagebg:not(.image--light) .boxed:not([class*='bg-']) {
    background: none;
    color: #fff;
}
.bg--dark .boxed:not([class*='bg-']).boxed--border,
.imagebg:not(.image--light) .boxed:not([class*='bg-']).boxed--border {
    border-color: #3f3f3f;
}
.bg--dark .boxed[class*='bg-'].boxed--border,
.imagebg:not(.image--light) .boxed[class*='bg-'].boxed--border {
    border: none;
}
section.space--xs, footer.space--xs {
    padding-top: 3.71428571em;
    padding-bottom: 3.71428571em;
}
a.block {
    font-weight: normal;
    text-decoration: none;
    color: #666666;
}
.block {
    display: block;
}

a.block > .feature {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
a.block:hover > .feature {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}
/*! -- Stack Features Small -- */
.feature:not(.boxed) {
    margin-bottom: 60px;
}
.feature.feature--featured:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #4a90e2;
    left: 0;
}
.feature h5 {
    margin: 0;
}
.feature h4 {
    margin-bottom: 0.342105263157895em;
}
.feature h4 + p {
    max-width: 22.28571429em;
}
.feature i + h5 {
    margin-top: 1.85714286em;
}
.feature i + h4 {
	font-weight: 400;
    margin-top: 0.68421052631579em;
}
.feature i.icon--lg + h4 {
    margin-top: 1.36842105263158em;
}
.feature i.icon--lg + .h5 {
    margin-top: 0.92857143em;
}
.feature img + .boxed {
    border-radius: 0 0 6px 6px;
    border-top: none;
}
.imagebg:not(.image--light) .feature.bg--white a:not(.btn) {
    color: #4a90e2;
}
.imagebg:not(.image--light) .feature.bg--white .label {
    color: #fff;
}
@media all and (max-width: 767px) {
    .feature .feature__body form .row {
        margin-left: 0;
        margin-right: 0;
    }
}
section.text-center .feature-6 h4 + p {
    margin: 0 auto;
}
@media all and (min-width: 768px) {
    .row div[class*='col-']:nth-child(1):nth-last-child(3) .feature,
    .row div[class*='col-']:nth-child(2):nth-last-child(2) .feature,
    .row div[class*='col-']:nth-child(3):last-child .feature {
        margin-bottom: 0;
    }
}
a.block > .feature {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
a.block:hover > .feature {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}
.feature-1 {
    min-height: 11.14285714em;
}
.feature-1 p {
    margin: 0;
}
.feature-1 p.lead {
    min-height: 5.05263157894737em;
}
.feature-1 > img:first-child {
    border-radius: 6px 6px 0 0;
}
.feature-1 > a.block img {
    border-radius: 6px 6px 0 0;
}
.feature-1 > a.block + .feature__body {
    border-radius: 0 0 6px 6px;
}
.feature-1[class*='box-shadow'] {
    border-radius: 6px;
    transition: 0.35s ease-out;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
}
.feature-1[class*='box-shadow']:hover {
    transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
}
.hover-shadow {
    border-radius: 6px;
    backface-visibility: hidden;
    overflow: hidden;
    border: 1px solid #ececec;
    transition: 0.35s ease-out;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
}
.hover-shadow:hover {
    transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
}
.bg--dark .hover-shadow {
    border-color: #222;
}
.bg--dark .hover-shadow:hover {
    box-shadow: 0 23px 40px #000000;
}
.feature-2 {
    overflow: hidden;
}
.feature-2 .feature__body {
    width: 75%;
    float: right;
}
.feature-2 h5 {
    margin-bottom: 0.46428571em;
}
.feature-2 p:last-child {
    margin: 0;
}
.feature-2 i {
    width: 25%;
    float: left;
}
.feature-large .feature-2 + .feature-2:last-child {
    margin-bottom: 0;
}
@media all and (max-width: 990px) {
    .feature-2 .feature__body,
    .feature-2 i {
        width: 100%;
        float: none;
    }
    .feature-2 p:first-of-type {
        margin-top: 0.92857143em;
    }
}
.feature-3 i {
    margin-bottom: 0.16666666666667em;
}
.feature-3 p {
    min-height: 7.42857143em;
}
.feature-4 .btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
    padding: 0.92857143em;
}
.feature-4 .btn:hover {
    transform: none;
}
.feature-4 p {
    min-height: 9.28571429em;
}
.feature-4 p:last-of-type {
    margin-bottom: 3.71428571em;
}
.feature-5 i {
    width: 25%;
    float: left;
}
.feature-5 .feature__body {
    width: 75%;
    float: right;
}
.feature-5 p {
    min-height: 5.57142857em;
}
.feature-5 p:last-of-type {
    margin-bottom: 0.92857143em;
}
.feature-5:not([class*='bg-']) {
    color: #252525;
}
.feature-6 p {
    min-height: 9.28571429em;
}
.feature-6 p:last-child {
    margin: 0;
}
.feature-7 {
    height: 13em;
    margin-bottom: 30px;
}
.feature-7[data-overlay]:before {
    border-radius: 6px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}
.feature-7[data-overlay]:hover:before {
    opacity: .75;
}
.feature-7 .background-image-holder {
    border-radius: 6px;
}
.feature-7 h3 {
    margin: 0;
}
.row--gapless .feature-7 {
    margin: 0;
    border-radius: 0;
}
.row--gapless .feature-7 .background-image-holder {
    border-radius: 0;
}
.row--gapless .feature-7:before {
    border-radius: 0;
}
@media all and (max-width: 767px) {
    .feature-7 .pos-vertical-center {
        top: 50%;
        transform: translate3d(0, -50%, 0);
        -webkit-transform: translate3d(0, -50%, 0);
    }
}
.feature-8 {
    padding: 2.78571429em 0 3.71428571em 0;
}
.feature-8:not(.boxed) {
    margin-bottom: 0;
}
.feature-8 .feature__body {
    max-width: 70%;
    margin: 0 auto;
}
.feature-8 p {
    min-height: 5.57142857em;
}
@media all and (max-width: 990px) {
    .feature-8 .feature__body {
        max-width: 85%;
    }
}
@media all and (max-width: 767px) {
    .feature p {
        min-height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .feature.boxed {
        margin-bottom: 15px;
    }
    .feature:not(.boxed) {
        margin-bottom: 30px;
    }
    .feature.feature-8 {
        margin-bottom: 0;
    }
}
.feature-8 img {
    max-height: 14.85714286em;
}
.feature-9 h4 {
    margin: 0;
}
.feature-9:not(.boxed) {
    margin-bottom: 30px;
}
@media all and (min-width: 768px) {
    .features-small-14 .text-block {
        margin-bottom: 3.71428571em;
    }
    .features-small-14 h4 {
        min-height: 2.736842105263158em;
    }
}
span.h1:not(.inline-block), span.h2:not(.inline-block), span.h3:not(.inline-block), span.h4:not(.inline-block), span.h5:not(.inline-block), span.h6:not(.inline-block) {
    display: block;
}
.icon--xs {
    font-size: 1em;
}
.icon--sm {
    font-size: 2.35714286em;
}
.icon--md {
    font-size: 3.14285714em;
}
.icon--lg {
    font-size: 5.57142857em;
}
/*! -- Stack Footers -- */
footer .type--fine-print:not(p) {
    opacity: .5;
}
footer a {
    font-weight: normal;
}
footer:not(.bg--primary):not(.bg--dark) a {
    color: #666666;
}
footer a.type--fine-print:not(:first-child) {
    margin-left: 1.85714286em;
}
footer .logo {
    max-height: 1.67142857em;
}
footer ul:not(.list-inline):not(.slides) > li {
    line-height: 2.32142857em !important;
}
footer.footer-2 .row:last-child {
    margin-top: 3.71428571em;
}
footer.footer-5 .row [class*='col-'] > div:nth-last-child(2) {
    margin: 0.92857143em;
}
footer.footer-5 .row [class*='col-'] > div:nth-last-child(2) .type--fine-print {
    opacity: 1;
}
footer.footer-6 .footer__lower {
    background: #fafafa;
    margin-top: 1.85714286em;
    padding: 1.85714286em 0;
}
footer.footer-6.bg--dark .footer__lower {
    background: #181818;
}
footer.footer-6.bg--secondary .footer__lower {
    background: #f5f5f5;
}
footer.footer-6.bg--primary .footer__lower {
    background: #3483de;
}
footer.footer-7 {
    padding: 1.85714286em 0;
}
@media all and (min-width: 768px) {
    footer .list-inline + .btn {
        position: relative;
        bottom: 4px;
    }
    footer .logo {
        margin: 0;
    }
    footer .logo:not(:last-child) {
        margin-right: 1.85714286em;
    }
    footer.footer-3 .logo + ul {
        position: relative;
        top: 5px;
    }
    footer.footer-3 .logo + ul a {
        color: #252525;
    }
    footer.footer-3 .social-list {
        position: relative;
        top: 9px;
    }
    footer.footer-3 .row:last-child {
        margin-top: 1.85714286em;
    }
    footer.footer-4 .logo + span {
        position: relative;
        top: 8px;
    }
    footer.footer-4 form {
        position: relative;
        bottom: 4px;
    }
    footer.footer-4 .row:last-child {
        margin-top: 1.85714286em;
    }
    footer.imagebg:not(.image--light) span,
    footer.imagebg:not(.image--light) p,
    footer.imagebg:not(.image--light) a {
        color: #fff;
    }
    .footer-1 .type--fine-print {
        position: relative;
        top: 2px;
    }
}
@media all and (max-width: 767px) {
    footer .social-list {
        margin: 1.85714286em 0;
    }
    .footer-4 form {
        margin: 1.85714286em 0;
    }
    .footer-4 .logo {
        margin: 0;
    }
    .footer-6 .footer__lower .social-list {
        margin-top: 1.85714286em;
    }
    .footer-7 .social-list {
        margin-top: 1.85714286em;
    }
    .footer-1 .social-list {
        margin-top: 1.85714286em;
    }
    .footer-1 .logo {
        display: block;
        margin-top: 1.85714286em;
        margin-bottom: 0.92857143em;
        margin-left: auto;
        margin-right: auto;
    }
}
/**! 37. Spacing **/
section,
footer {
    padding-top: 7.42857143em;
    padding-bottom: 7.42857143em;
}
section.space--xxs,
footer.space--xxs {
    padding-top: 1.85714286em;
    padding-bottom: 1.85714286em;
}
section.space--xs,
footer.space--xs {
    padding-top: 3.71428571em;
    padding-bottom: 3.71428571em;
}
section.space--sm,
footer.space--sm {
    padding-top: 4.95238095em;
    padding-bottom: 4.95238095em;
}
section.space--md,
footer.space--md {
    padding-top: 11.14285714em;
    padding-bottom: 11.14285714em;
}
section.space--lg,
footer.space--lg {
    padding-top: 14.85714286em;
    padding-bottom: 14.85714286em;
}
section.space--xlg,
footer.space--xlg {
    padding-top: 29.71428571em;
    padding-bottom: 29.71428571em;
}
section.space--0,
footer.space--0 {
    padding: 0;
}
section.section--even,
footer.section--even {
    padding-top: 7.42857143em;
    padding-bottom: 7.42857143em;
}
section.space-bottom--sm,
footer.space-bottom--sm {
    padding-bottom: 4.95238095em;
}
@media all and (max-width: 767px) {
    section,
    footer,
    section.section--even {
        padding: 5.57142857em 0;
    }
    section.space--lg,
    footer.space--lg,
    section.section--even.space--lg,
    section.space--md,
    footer.space--md,
    section.section--even.space--md {
        padding: 5.57142857em 0;
    }
    section.space--xlg,
    footer.space--xlg,
    section.section--even.space--xlg {
        padding: 8.35714286em 0;
    }
}
.list--hover {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list--hover li {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
}
.list--hover li:not(:hover) {
    opacity: .6;
}
h6,
.h6 {
    font-weight: 700;
}
h6:not(:last-child),
.h6:not(:last-child) {
    margin-bottom: 2.16666666666667em;
}
h6.type--uppercase,
.h6.type--uppercase {
    letter-spacing: 1px;
    margin-right: -1px;
}
.table-list tr {
	cursor: pointer;
}